<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SalesManagementDB"
             connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SalesManagementDB;Integrated Security=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="CompanyName" value="My Company" />
		<add key="SessionTimeout" value="30" />
	</appSettings>
</configuration>